body {

    background-color: #FFFCF8;
    padding-left: 40px;
    padding-right: 40px;

}

p{

    font-family:Verdana, sans-serif;
    color:#333333;

}

div {
  background-color: #85929E;
  width:60%;
  height: fit-content + 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  
}

.centeredtext{

  font-family:Verdana, sans-serif;
  color:#333333;
  text-align: center;

}

li{

  font-family:Verdana, sans-serif;
  color:#333333;
  list-style-position: inside;

}

h1{

    font-family:Verdana, sans-serif;
    color:#333333;

}

h2{

    font-family:Verdana, sans-serif;
    color:#333333;

}

h3{

    font-family:Verdana, sans-serif;
    color:#333333;

}

h4{

  font-family:Verdana, sans-serif;
  color:#333333;

}

.login{

    font-family:Verdana, sans-serif;
    color:#333333;
    padding-top: 50px;
    text-align: center;
    display: block;
      margin-left: auto;
      margin-right: auto;

}

.loginbox{

  width: 40%;
  padding: 12px 20px;
  display: block;
    margin-left: auto;
    margin-right: auto;
  box-sizing: border-box;
  background-color: #AEC6CF;
  font-family:Verdana, sans-serif;
    color:#333333;
    font-size: 20px;

}

.formbox{

    width: 20%;
    padding: 12px 20px;
    display: block;
      margin-left: auto;
      margin-right: auto;
    box-sizing: border-box;
    background-color: #AEC6CF;
    font-family:Verdana, sans-serif;
      color:#333333;
    font-size: 15px;
  
  }

  .niceformbox{

    width: 12%;
    padding-top: 8px;
    box-sizing: border-box;
    background-color: #DBE6EA;
    font-family:Verdana, sans-serif;
      color:#333333;
    font-size: 15px;
  
  }

  .tableformbox{

    width: 95%;
    padding-top: 8px;
    box-sizing: border-box;
    background-color: #DBE6EA;
    font-family:Verdana, sans-serif;
      color:#333333;
    font-size: 10px;
  
  }

  .checkbox{

    background-color: #2196F3;

  }

  .bigformbox{

    width: 30%;
    height: 20%;
    padding-top: 8px;
    box-sizing: border-box;
    background-color: #DBE6EA;
    font-family:Verdana, sans-serif;
      color:#333333;
    font-size: 15px;
  
  }

  ul {
    list-style-type: square;
  }

  .selectors{

    width: 12%;
    padding-top: 8px;
    box-sizing: border-box;
    background-color: #FCE7CA;
    font-family:Verdana, sans-serif;
      color:#333333;
    font-size: 15px;
  
  }

  .tableselectors{

    width: 80%;
    padding-top: 8px;
    box-sizing: border-box;
    background-color: #FCE7CA;
    font-family:Verdana, sans-serif;
      color:#333333;
    font-size: 15px;
  
  }

  .tableselectorbox{

    font-family:Verdana, sans-serif;
    color:#333333;
    width: 80%;
    background-color: FCF8F3;
    border-radius: 8px;
    font-size: 12px;
  
  }

  .selectorbox{

    font-family:Verdana, sans-serif;
    color:#333333;
    width: 12%;
    background-color: FCF8F3;
    border-radius: 8px;
    font-size: 12px;
  
  }

  .uploader{

    width: 20%;
    padding-top: 8px;
    box-sizing: border-box;
    font-family:Verdana, sans-serif;
      color:#333333;
    font-size: 15px;
  
  }

.loginbutt{

    font-family:Verdana, sans-serif;
    color:#333333;
    width: 10%;
    padding: 12px 20px;
    display: block;
      margin-left: auto;
      margin-right: auto;
    box-sizing: border-box;
    background-color: #FFCB8B;
    border-radius: 8px;
    font-size: 15px;
  
  }

  .searchbox{

    width: 18%;
    padding-top: 8px;
    box-sizing: border-box;
    background-color: #DBE6EA;
    font-family:Verdana, sans-serif;
      color:#333333;
    font-size: 15px;
  
  }

  .searchbutt{

    font-family:Verdana, sans-serif;
    color:#333333;
    width: 10%;
    background-color: FCF8F3;
    border-radius: 8px;
    font-size: 12px;
  
  }
  .searchbutt2{

    font-family:Verdana, sans-serif;
    color:#333333;
    width: fit-content;
    background-color: FCF8F3;
    border-radius: 8px;
    font-size: 12px;
  
  }

  .routebutt{

    font-family:Verdana, sans-serif;
    color:#333333;
    width: 450px;
    padding: 12px 20px;
    display: block;
      margin-left: auto;
      margin-right: auto;
    box-sizing: border-box;
    background-color: #FFCB8B;
    border-radius: 8px;
    font-size: 15px;
  
  }

img{

    padding: 12px 20px;

}

.logout{

    color:coral;
    font-size: 22px;

}

.nav{

    text-decoration-color: coral;
    text-decoration-line: underline;
    font-family:Verdana, sans-serif;
    color:#333333;
    font-size: 30px;
    text-align: center;

}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
  }

  table{

    width: 90%;
    margin-left: auto;
    margin-right: auto;

  }

  td,th{

    text-align: center;
    height: 50px;
    vertical-align: center;
    font-family:Verdana, sans-serif;
    color:#333333;

  }

  a{

    font-family:Verdana, sans-serif;
    color:cornflowerblue;

  }

  g1{

    font-family:Verdana, sans-serif;
    color:#333333;
    padding-top: 8px;

  }