<html>
  <head>
    <title>Add Graduate Secretary</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
  </head>
<body>
  {%include "navbar.html"%}
  <h1> Add Graduate Secretary </h1>
  <form action="/addgradsec" method = "POST">
      Enter First Name: 
   <input type="text" name="fname" required><br>
      Enter Last Name: 
   <input type="text" name="lname" required><br>
    Enter Username: 
   <input type="text" name="username" required><br>
    Enter Password: 
    <input type="text" name="password" required><br>

    Enter SSN Number: 
    <input type="text" name="ssn" required><br>

    Enter Address: 
    <input type="text" name="address" required><br>

    <input type = "hidden" name = "type" value = 'gradsec'>
    <br>
  <button type="submit">Submit</button>
 </form>

    <form action = "/SAhome"> 
    <button type="submit">System Admin Home Page</button>
    </form>
  
</body>
</html>