<html>
    <body>
        {%include "navbar.html"%}

        <head> <link href="/static/style.css" rel="stylesheet" type="text/css" /> </head>
        <title> Advisor Homepage </title>
        <h1> <center>Welcome, {{data['first_name']}} {{data['last_name']}}</center> </h1>
        <h2><center> Advisor Homepage </center></h2>

        <br>

        <center>
            <form action="/faculty/advisees/phd"> 
                <button type="submit" class = "routebutt">View PhD Advisees</button>
            </form>
            <br>
            <form action="/faculty/advisees/masters"> 
                <button type="submit" class = "routebutt">View Master's Advisees</button>
            </form>
        </center>

        <br>

        <br>
        <br>
        <hr color=#3F000F;>
        <br>
        <br>

        <form action="/Fhome"> 
            <button type="submit" class = "routebutt">Employee Home Page</button>
        </form>

    </body>

</html>