<html>
    <head> <link href="/static/style.css" rel="stylesheet" type="text/css" /> </head>
    <title> Advisor Homepage </title>
    <h1> Welcome, {{ data['first_name'] }} {{ data['last_name'] }} </h1>
    <h2> Advisor Functionality </h2>

    <body>
        {%include "navbar.html"%}
        <form action="/faculty/advisees/phd"> 
            <button type="submit">PhD Advisees</button>
        </form>
        <form action="/faculty/advisees/masters"> 
            <button type="submit">Master's Advisees</button>
        </form>
        <br>
        <form action="/Fhome"> 
            <button type="submit">Employee Home Page</button>
        </form>
        <form action="/logout"> 
            <button type="submit">Log Out</button>
        </form>

    </body>

</html>