<html>
    <body>
        {%include "navbar.html"%}

        <link rel="stylesheet" href="static/style.css">
        <title> Advisor Homepage </title>
        <h1> <center>Welcome, {{data['first_name']}} {{data['last_name']}}</center> </h1>
        <h2><center> Advisor Homepage </center></h2>

        <br>
        <hr>

        <center>
            <form action="/faculty/advisees/phd"> 
                <button type="submit" class="routebutt">View PhD Advisees</button>
            </form>
            <br>
            <form action="/faculty/advisees/masters"> 
                <button type="submit" class="routebutt">View Master's Advisees</button>
            </form>
        </center>

        <br>

        <hr>
        <br>

        <form action="/Fhome"> 
            <button type="submit" class="routebutt">Employee Home Page</button>
        </form>

    </body>

</html>