<head>
    
  <title>Applicant home</title>
  <link rel="stylesheet" href="static/style.css">

  <style>

    p{

      text-align: center;

    }

    h3{

      text-align: center;

    }

  </style>
  
</head>

<body>
    {%include "navbar.html"%}
  <h1> Welcome, {{ session['first_name'] }} {{ session['last_name'] }}</h1>
  <h2> universityID: {{session['uid'] }}</h2>
  <br>
  <form action = "/Ahome" method = "POST">

    <input type="submit" value="Fill Out An Application" class = "routebutt">
    <input type="hidden" name="button" value="fill">


  </form>
  <br>

  <form action = "/Ahome" method = "POST">

    <input type="submit" value="See Your Status" class = "routebutt">
    <input type="hidden" name="button" value="status">

  </form>

  {% if decision['decision'] == "Admit" or decision['decision'] == "Admit With Aid" %}

    <br>
    <br>

    <h3>Congrats! You have been accepted!</h3>

    <p>Please use the button below to accept your admission as well as pay your deposit via apple pay!</p>
    <p>After acceptance you will be logged out. You can log in as a student using your same credentials.</p>

    <form action = "/Ahome" method = "POST">

      <input type="submit" value="Accept and deposit!" class = "routebutt">
      <input type="hidden" name="button" value="accept">
  
    </form>

  {% endif %}

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <h3> Update your personal information:</h3>
        <form action = "/Ahome" method = "POST">
            <p>Username:</p> <input type = "text" name = "username" minlength = "1" required class = "formbox"> <br>
              <p>Password:</p> <input type = "text" name = "password" minlength = "1" required class = "formbox"> <br>
                <p>First Name:</p> <input type = "text" name = "first_name" minlength = "1" required class = "formbox"> <br>
                  <p>Last Name:</p> <input type = "text" name = "last_name" minlength = "1" required class = "formbox"> <br>
                    <p>SSN:</p> <input type = "text" name = "ssn" minlength = "1" required class = "formbox"> <br>
                      <p>Address:</p> <input type = "text" name = "address" minlength = "1" required class = "formbox"> <br>
           
            <input type = "submit" name = "button" value = "Confirm update" class = "loginbutt">
            <input type="hidden" name="type" value="update">
        </form>

</body>