<html>
  <head>
     <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <title>Alumni Logged In</title>
 
  </head>
  <body>
    {%include "navbar.html"%}
 <center>
    <h1 class = "sameen"> Welcome, {{session["first_name"]}} {{session["last_name"]}} </h1>
    <h3>University ID: {{session['uid']}}</h3>

 <hr>


<h3> Personal Information</h3>
 <div class="buttons">

    <form action = "/updateinfo" method = "POST"> 
    
        <h4>Last Name: 
            <input type="text" placeholder= "{{session['last_name']}}" name = "lname" class="niceformbox">
        </h4>

        <h4> First Name: 
            <input type="text" placeholder= "{{session['first_name']}}" name = "fname" class="niceformbox">
        </h4>

        <h4>Address: 
            <input type="text" placeholder="{{data['address']}}" name= "address" class="niceformbox">
        </h4>

        <button type="submit" class="routebutt">Submit</button>
    </form>

</div>

<br>

 <div class = "buttons">

    <form action = "/coursehist/{{session['uid']}}" method = "POST"> 
    <button type="submit" class="routebutt">View Transcript</button>
    </form>

    </div>

</center>


</body>
</html>