<html>
  <head>
    <title> Welcome Chair of the Applications Committee! </title>
    <link rel="stylesheet" href="static/style.css">
    
  </head>
  <body>
        
    {%include "navbar.html"%}

        <h1> Welcome, {{ session['first_name'] }} {{ session['last_name'] }}</h1>
        <h2> universityID: {{session['uid'] }}</h2>

        <br>

        <form action = "/Chome" method = "POST">

            <input type="submit" value="Fill Out A Review Form" class = "routebutt">
            <input type="hidden" name="type" value="fill">
        
        
        </form>

        <h1>Applicants:</h1>

        <form action="/Chome" method="POST">
      
            <input type="text" name="search" placeholder = "Search For Applicants" class = "searchbox">
            <input type="submit" name="searchuid" value = "search by uid" class = "searchbutt">
            <input type="hidden" name="type" value="searchuid">
            
          </form>
          <form action="/Chome" method="POST">
            
            <input type="text" name="search" placeholder = "Search For Applicants" class = "searchbox">
            <input type="submit" name="searchlname" value = "search by last name" class = "searchbutt">
            <input type="hidden" name="type" value="searchlname">
            
          </form>

          <br>

        {% for n in applicants %}

          <div>

            <form action = "/Chome" method = "POST">

                <input type="submit" value="View {{n.first_name}} {{n.last_name}}'s Application" class = "routebutt">
                <input type="hidden" name="id" value="{{n.uid}}">
                <input type="hidden" name="type" value="view">
            
            
            </form>

            <br>
            <br>

            <p class = "centeredtext"> Their average score (0 = reject, 1 = admit, 2 = admit with aid): {{averages[n['uid']]}}</p>

            <br>
            <br>

            <li class = "centeredtext">Update Decision: <form action = "/Chome" method = "POST">

                <select id="decision" name="decision" class = "selectors">
  
                  <option value="Pending">Pending</option>
                  <option value="Admit">Admit</option>
                  <option value="Admit With Aid">Admit With Aid</option>
                  <option value="Reject">Reject</option>
  
                </select>
  
                <input type="submit" name="Update" value = "Update" class = "selectorbox">
                <input type="hidden" name="id" value="{{n.uid}}">
                <input type="hidden" name="type" value="updatedecision">
  
              </form></li>

            </div>

            <br>
            <br>
            <br>
          {% endfor %}
  </body>
</html>