<html>
  <head>
     <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <title>Course History</title>
 
  </head>

  <body>
    {%include "navbar.html"%}
<center>
    <h1 class = "sameen"> Course History </h1>

    <h2>GPA: {{gpa}}</h2>
    <br>

      {% if not class_info %}
        <p>No course history found.</p></center>
      {% else %}

        <table border="5" cellspacing="0" align="center">
          <tr>
            <b>
              <td align="center" height="50" width="100"> Class ID <br></td>
              <td align="center" height="50" width="100"> Class Title <br></td>
              <td align="center" height="50" width="100"> Class Number <br></td>
              <td align="center" height="50" width="100"> Credit Hours <br></td>
              <td align="center" height="50" width="100"> Grade <br></td>
            </b>
          </tr>
          {% for p in class_info: %}
          <tr>
            <td> {{ p[0]["cid"] }} </td>
                <td> {{ p[0]["title"] }} <br></td>
                <td> {{ p[0]["class_number"] }} </td>
                <td> {{ p[0]["credit_hours"] }} </td>
                <td> {{ p[1]["grade"] }} </td>
          {% endfor %}
          </tr>
        </table>
      </center>
  {% endif %}

    <br>

    {% if type == 'student' %}
      <form action = "/Shome"> 
        <button type="submit" class="routebutt">Student Home Page</button>
      </form>
    {% endif %}

    {% if type == 'alumni' %}
      <form action = "/alum_home"> 
        <button type="submit" class="routebutt">Alumni Home Page</button>
      </form>
    {% endif %}

</body>

</html>