<html>
  <head>
     <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <title>Course History</title>
 
  </head>

  <body>
    {%include "navbar.html"%}
<center>
    <h1 class = "sameen"> Course History </h1>
    </center>

    GPA: {{gpa}} {% if session['username'] == "admin" %}

    <ul>
      {% if not data %}
        <p>No course history found</p>
        {% else %}
        {% for p in data: %}
          <p> 
          <li>Course ID: {{p["cid"]}} 
            <br>Course:
            {% for i in courses: %}
                {% if p["cid"] == i["cid"]: %}
                    {{i["class_name"]}} {{i["class_number"]}} 
                    <br>
                    Credits: {{i["credit_hours"]}} 
                {% endif %}
            {% endfor %}
            <br>Grade: 
            <div class="buttons">
            <form action = "/updategrade/{{id}}/{{p['cid']}}" method = "POST"> 
              <input type="text" placeholder="{{p['grade']}}" name= "grade">
              <button type="submit">Update Grade</button>
            </form>
          </div>
      
          </li>
         </p>
    {% endfor %}
    {% endif %}
    </ul>

    {% else %}

    <ul>
      {% if not data %}
        <p>No course history found</p>
        {% else %}
        {% for p in data: %}
          <p> 
          <li>Course ID: {{p["course_id"]}} 
            <br>Course:
            {% for i in courses: %}
                {% if p["course_id"] == i["id"]: %}
                    {{i["course_name"]}} {{i["course_num"]}} 
                    <br>
                    Credits: {{i["credit_hours"]}} 
                {% endif %}
            {% endfor %}
            <br>Grade: {{p["grade"]}} 
            <br>
      
          </li>
         </p>
    {% endfor %}
    {% endif %}
    </ul>
    {% endif %}
    
    <br>

    {% if type == 'student' %}
      <form action = "/Shome"> 
        <button type="submit">Student Home Page</button>
      </form>
    {% endif %}

    {% if type == 'sysadsim' %}
      <form action = "/SAhome"> 
        <button type="submit">System Admin Home Page</button>
      </form>
    {% endif %}

    {% if type == 'alumni' %}
      <form action = "/alum_home"> 
        <button type="submit">Alumni Home Page</button>
      </form>
    {% endif %}

    


</body>

</html>