<html>
    <head>

        <title> Employee Home Page </title>
        <link rel="stylesheet" href="static/style.css">

    </head>
    
    <body>
        <br>
        Greetings, 
        <br>
        This email is informing you that you have been choosen by {{ session['first_name'] }} {{ session['last_name'] }} (university ID: {{session['uid']}}) to write their letter of recommendation number {{recnum}}. 
        <br>
        Please log into our system with the login info username: zrahbar, password: password to write your letter. 
        <br>
        Thank you!
    </body>
</html>