<html>
    <head> <link href="/static/style.css" rel="stylesheet" type="text/css" /> </head>
    <title> Employee Homepage </title>
    <h1> Welcome, {{ data['first_name'] }} {{ data['last_name'] }} </h1>

    <body>
        {%include "navbar.html"%}
        {% if employee_types[0]['is_advisor'] == 1 %}
        <form action="/advisor_home"> 
            <button type="submit">Advisor Functionality</button>
        </form>
        {% endif %}
    </body>

    <br>
    <form action="/logout"> 
        <button type="submit">Log Out</button>
    </form>

</html>