<html>
  
    <head>
    
        <title>Faculty Reviewer</title>
        <link rel="stylesheet" href="static/style.css">
        
    </head>

    <body>
        {%include "navbar.html"%}

        <h1> Welcome, {{ session['first_name'] }} {{ session['last_name'] }}</h1>
        <h2> universityID: {{session['uid'] }}</h2>

        <br>

        <form action = "/FRhome" method = "POST">

            <input type="submit" value="Fill Out A Review Form" class = "routebutt">
            <input type="hidden" name="type" value="fill">
        
        
        </form>

        <h1>Applicants:</h1>

        <form action="/FRhome" method="POST">
      
            <input type="text" name="search" placeholder = "Search For Applicants" class = "searchbox">
            <input type="submit" name="searchuid" value = "search by uid" class = "searchbutt">
            <input type="hidden" name="type" value="searchuid">
            
          </form>
          <form action="/FRhome" method="POST">
            
            <input type="text" name="search" placeholder = "Search For Applicants" class = "searchbox">
            <input type="submit" name="searchlname" value = "search by last name" class = "searchbutt">
            <input type="hidden" name="type" value="searchlname">
            
          </form>

        <br>

        {% for n in applicants %}

        <div>

            <form action = "/FRhome" method = "POST">

                <input type="submit" value="View {{n.first_name}} {{n.last_name}}'s Application" class = "routebutt">
                <input type="hidden" name="id" value="{{n.uid}}">
                <input type="hidden" name="type" value="view">
            
            </form>

        </div>

        <br>
        <br>

        {% endfor %}
        
    </body>

</html>