<html>
  <head>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <title> Graduation </title>
  </head>
  <body>
    {%include "navbar.html"%}
    <h2> Graduation Successful! </h2> 
    <h3> {% if data[1][0]['degree_type'] == 'MS' %}
          {{data[2][0]['first_name']}} {{data[2][0]['last_name']}} has successfully graduated with a Master's in Computer Science.
        {% endif %}
        {% if data[1][0]['degree_id'] == 'PHD' %}
          {{data[2][0]['first_name']}} {{data[2][0]['last_name']}} has successfully graduated with a PhD in Computer Science.
        {% endif %}
    </h3>

    <hr color=#3F000F;>

    <form action="/GShome"> 
      <button type="submit" class="routebutt">Graduate Secretary Home Page</button>
    </form>

  </body>
</html>