<html>
  <head>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <title>Student Data</title>
  </head>
  <body>
    {%include "navbar.html"%}
    <h2> <center>Advisees of {{advisor_name[0]['first_name']}} {{advisor_name[0]['last_name']}}</center> </h2>
    <hr>

    {% if not advisees %}
    <p> There are currently no advisees for {{advisor_name['first_name']}} {{advisor_name['last_name']}}. </p>
    {% endif %}

    {% if advisees %}
      <table border="5" cellspacing="0" align="center">
        <tr>
          <b>
            <td align="center" height="50" width="100"> First Name <br></td>
            <td align="center" height="50" width="100"> Last Name <br></td>
            <td align="center" height="50" width="100"> Profile <br></td>
          </b>
        </tr>
        {% for x in advisees: %}
        <tr>
          <td> {{x[0]['first_name']}}</td>
          <td> {{x[0]['last_name']}} </td>
          <td> 
            <form action="/student/{{x[0]['uid']}}"> 
              <button type="submit" class="tableselectorbox">View Profile</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
    {% endif %}

    <hr>

      <form action = "/GShome"> 
        <button type="submit" class="routebutt">Graduate Secretary Home Page</button>
        </form>

  </body>
</html>