<html>
  <head>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <title>Alumni Data</title>
  </head>
  <body>
    {%include "navbar.html"%}
    <h2> <center>All Alumni from {{grad_year}}</center> </h2>

    {% if not alumni %}
    <p> <center> No alumni to be displayed. </center> </p>
    {% endif %}

    {% if alumni %}
    <table border="5" cellspacing="0" align="center">
      <tr>
        <b>
          <td align="center" height="50" width="100"> First Name <br></td>
          <td align="center" height="50" width="100"> Last Name <br></td>
          <td align="center" height="50" width="100"> Email <br></td>
        </b>
      </tr>
      {% for x in alumni: %}
      <tr>
        <td> {{x[1][0]['first_name']}} <br></td>
        <td> {{x[1][0]['last_name']}} </td>
        <td> {{x[0]['email']}} </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    <br>
    <br>
    <hr color=#3F000F;>
    <br>
    <br>

      <form action = "/GShome"> 
        <button type="submit" class = "routebutt">Graduate Secretary Home Page</button>
        </form>

  </body>
</html>