<html>
  <head>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <title>Alumni Data</title>
  </head>
  <body>
    {%include "navbar.html"%}
    <h2> <center>Alumni with Master's Degree</center> </h2>


    {% if not alumni_info %}
        <p> <center> No master's alumni to be displayed. </center> </p>
    {% endif %}

    {% if alumni_info %}
    <table border="5" cellspacing="0" align="center">
      <tr>
        <b>
          <td align="center" height="50" width="100"> First Name <br></td>
          <td align="center" height="50" width="100"> Last Name <br></td>
          <td align="center" height="50" width="100"> Email <br></td>
        </b>
      </tr>
      {% for alumni in alumni_info: %}
      <tr>
        <td> {{alumni[0]['first_name']}} <br></td>
        <td> {{alumni[0]['last_name']}} </td>
        <td> {{alumni[1][0]['email']}} </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    <hr>

      <form action = "/GShome"> 
        <button type="submit">Graduate Secretary Home Page</button>
        </form>

      <form action = "/logout"> 
        <button type="submit">Log Out</button>
        </form>

  </body>
</html>