<html>
  <head>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <title>Alumni Data</title>
  </head>
  <body>
    {%include "navbar.html"%}
    <h2> <center>Alumni Data</center> </h2>
    <h4> Sort By:
      <br>
      <form action="/GSalumni/masters"> 
        <button type="submit" class = "selectorbox">Master's Alumni</button>
      </form>
      <form action="/GSalumni/phd"> 
        <button type="submit" class = "selectorbox">PhD Alumni</button>
      </form>
      <p> Graduation Year 
          &nbsp
          <form action="/GSalumni/gradyear" method="POST">
            <input type="text" name="search" placeholder = "Search a Year" class = "searchbox">
            <input type="submit" name="search_gradyear" value = "search by graduation year" class = "searchbutt2">
            <input type="hidden" name="type" value="search_gradyear">
          </form>  
      </p>
    </h4>
  
    <br>
    <br>
    <hr color=#3F000F;>
    <br>
    <br>

    <center> </center>
    {% if not alumni_info %}
        <p> No alumni to be displayed. </p>
    {% endif %}

    {% if alumni_info %}
    <table border="5" cellspacing="0" align="center">
      <tr>
        <b>
          <td align="center" height="50" width="100"> First Name <br></td>
          <td align="center" height="50" width="100"> Last Name <br></td>
          <td align="center" height="50" width="100"> Email <br></td>
        </b>
      </tr>
      {% for alumni in alumni_info: %}
      <tr>
        <td> {{alumni[0]['first_name']}} <br></td>
        <td> {{alumni[0]['last_name']}} </td>
        <td> {{alumni[1][0]['email']}} </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

  </center>

    <br>
    <br>
    <hr color=#3F000F;>
    <br>
    <br>

      <form action = "/GShome"> 
        <button type="submit" class = "routebutt">Graduate Secretary Home Page</button>
        </form>

      <!-- <form action = "/logout"> 
        <button type="submit">Log Out</button>
        </form> -->

  </body>
</html>