<html>
  
  <head>
    
    <title>Login Page</title>
    <link rel="stylesheet" href="static/style.css">

    <style>

      li{

        list-style-type:none;

      }

    </style>
    
  </head>

  <body>

    {%include "navbar.html"%}
    <h1> Welcome, {{ session['first_name'] }} {{ session['last_name'] }}</h1>
    <h2> universityID: {{session['uid']}}</h2>

    <br>

    <form action="/GSapps" method="POST">
      
      <input type="text" name="search" placeholder = "Search For Applicants" class = "searchbox">
      <input type="submit" name="searchuid" value = "search by uid" class = "searchbutt">
      <input type="hidden" name="type" value="searchuid">
      
    </form>
    <form action="/GSapps" method="POST">
      
      <input type="text" name="search" placeholder = "Search For Applicants" class = "searchbox">
      <input type="submit" name="searchlname" value = "search by last name" class = "searchbutt">
      <input type="hidden" name="type" value="searchlname">
      
    </form>

    <br>

    <ul>

      {%for person in applicants%}

        {% if person.appStatus != "Matriculated" %}

        <div>

        <li>Student ID: {{person.uid}} <br> Name: {{person.first_name}} {{person.last_name}} <br><br>

          <ul>

            <li>Status: {{person.appStatus}}</li>
            <li>Update Status: <form action = "/GSapps" method = "POST">

              <select id="status" name="status" class = "selectors">

                <option value="Application Incomplete">Application Incomplete</option>
                <option value="Application Awaiting Materials">Application Awaiting Materials</option>
                <option value="Application Under Review">Application Under Review</option>
                <option value="Decision Pending">Decision Pending</option>
                <option value="Decision Delivered">Decision Delivered</option>
                <option value="Matriculated">Matriculated</option>

              </select>

              <input type="submit" name="Update" value = "Update" class = "selectorbox">
              <input type="hidden" name="id" value="{{person.uid}}">
              <input type="hidden" name="type" value="updatestat">

            </form></li>

            <li>Decision: {{person.decision}}</li>
            <li>Update Decision: <form action = "/GSapps" method = "POST">

              <select id="decision" name="decision" class = "selectors">

                <option value="Pending">Pending</option>
                <option value="Admit">Admit</option>
                <option value="Admit With Aid">Admit With Aid</option>
                <option value="Reject">Reject</option>

              </select>

              <input type="submit" name="Update" value = "Update" class = "selectorbox">
              <input type="hidden" name="id" value="{{person.uid}}">
              <input type="hidden" name="type" value="updatedecision">

            </form></li>

            <li><form action = "/GSapps" method = "POST">

              <input type="submit" name="View Application" value = "View Application" class = "routebutt">
              <input type="hidden" name="id" value="{{person.uid}}">
              <input type="hidden" name="type" value="app">

            </form></li>

            <li><form action = "/GSapps" method = "POST">

              <input type="submit" name="View Reviews" value = "View Reviews" class = "routebutt">
              <input type="hidden" name="id" value="{{person.uid}}">
              <input type="hidden" name="type" value="review">

            </form></li>

          </ul>

        </li>

        </div>

        <br>
        <br>
        <br>

        {%endif%}

      {%endfor%}

    </ul>

    <br>

    <h3>Generate Queries</h3>
    <p>Generate a list of applicants either by their intended start semester or by the degree they intend to seek</p>
    <form action = "/GSappsqueries" method = "POST">

      <input type="submit" name="Find" value = "Find" class = "selectorbox">
      <input type="hidden" name="type" value="appsdate">
      <select id="criteria1" name="criteria1" class = "selectors">

        <option value="Fall 2023">Fall 2023</option>
        <option value="Spring 2023">Spring 2023</option>
        <option value="Fall 2024">Fall 2024</option>
        <option value="Spring 2024">Spring 2024</option>

      </select>

    </form>
    <form action = "/GSappsqueries" method = "POST">

      <input type="submit" name="Find" value = "Find" class = "selectorbox">
      <input type="hidden" name="type" value="appsdeg">
      <select id="criteria2" name="criteria2" class = "selectors">

        <option value="MS">MS</option>
        <option value="PHD">PHD</option>

      </select>

    </form>

    <br>

    <p>Generate a list of accepted applicants either by their intended start semester or by the degree they intend to seek</p>
    <form action = "/GSappsqueries" method = "POST">

      <input type="submit" name="Find" value = "Find" class = "selectorbox">
      <input type="hidden" name="type" value="acceptdate">
      <select id="criteria3" name="criteria3" class = "selectors">

        <option value="Fall 2023">Fall 2023</option>
        <option value="Spring 2023">Spring 2023</option>
        <option value="Fall 2024">Fall 2024</option>
        <option value="Spring 2024">Spring 2024</option>

      </select>

    </form>
    <form action = "/GSappsqueries" method = "POST">

      <input type="submit" name="Find" value = "Find" class = "selectorbox">
      <input type="hidden" name="type" value="acceptdeg">
      <select id="criteria4" name="criteria4" class = "selectors">

        <option value="MS">MS</option>
        <option value="PHD">PHD</option>

      </select>

    </form>

    <br>

    <p>Generate a list of other statistics either by applicants' intended start semester or by the degree the applicants' are seeking</p>
    <form action = "/GSappsqueries" method = "POST">

      <input type="submit" name="Find" value = "Find" class = "selectorbox">
      <input type="hidden" name="type" value="statsdate">
      <select id="criteria5" name="criteria5" class = "selectors">

        <option value="Fall 2023">Fall 2023</option>
        <option value="Spring 2023">Spring 2023</option>
        <option value="Fall 2024">Fall 2024</option>
        <option value="Spring 2024">Spring 2024</option>

      </select>

    </form>
    <form action = "/GSappsqueries" method = "POST">

      <input type="submit" name="Find" value = "Find" class = "selectorbox">
      <input type="hidden" name="type" value="statsdeg">
      <select id="criteria6" name="criteria6" class = "selectors">

        <option value="MS">MS</option>
        <option value="PHD">PHD</option>

      </select>

    </form>
    
  </body>
  
</html>