<head>
    
  <title>Faculty Reviewer</title>
  <link rel="stylesheet" href="static/style.css">
  
</head>

<body>
    {%include "navbar.html"%}
  <h1> Welcome, {{ session['first_name'] }} {{ session['last_name'] }}</h1>
  <h2> universityID: {{session['uid'] }}</h2>
  <br>
  <form action = "/GShome" method = "POST">

    <input type="submit" value="View Enrolled Students" class = "routebutt">
    <input type="hidden" name="button" value="students">


  </form>
  <br>

  <form action = "/GShome" method = "POST">

    <input type="submit" value="View Applicants" class = "routebutt">
    <input type="hidden" name="button" value="applicants">

  </form>
  <br>

  <form action = "/GShome" method = "POST">

    <input type="submit" value="View Alumni">
    <input type="hidden" name="button" value="alumni">

  </form>
  <br>

  <form action = "/GShome" method = "POST">

    <input type="submit" value="View Admitted Students">
    <input type="hidden" name="button" value="admitted">

  </form>

</body>