<title> Grad Secretary Home Page </title>

<body>
    {%include "navbar.html"%}
  <h1> Welcome, {{ session['first_name'] }} {{ session['last_name'] }}</h1>
  <h2> universityID: {{session['uid'] }}</h2>
  <br>
  <form action = "/GShome" method = "POST">

    <input type="submit" value="View Enrolled Students">
    <input type="hidden" name="button" value="students">


  </form>
  <br>

  <form action = "/GShome" method = "POST">

    <input type="submit" value="View Applicants">
    <input type="hidden" name="button" value="applicants">

  </form>
  <br>

  <form action = "/GShome" method = "POST">

    <input type="submit" value="View Alumni">
    <input type="hidden" name="button" value="alumni">

  </form>

</body>