<html>
  <head>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <title>Student Data</title>
  </head>
  <body>
    {%include "navbar.html"%}
    
    <h1 style="text-align:center;"> Welcome, Graduate Secretary! </h1>
    <center><h2> All Students </h2> </center>
        
        <table border="5" cellspacing="0" align="center">
          <tr>
            <b>
              <td align="center" height="50" width="100"> UID <br></td>
              <td align="center" height="50" width="100"> First Name <br></td>
              <td align="center" height="50" width="100"> Last Name <br></td>
              <td align="center" height="50" width="100"> Profile <br></td>
            </b>
          </tr>
          {% for student in students: %}
          <tr>
            <td> {{ student['uid'] }} <br></td>
            <td> {{ student['first_name'] }} </td>
            <td> {{ student['last_name'] }} </td>
            <td> 
              <form action="/student/{{student['uid']}}"> 
                <button type="submit">View Profile</button>
              </form> 
            </td>
          </tr>
          {% endfor %}
        </table>

    <hr color=#3F000F;>

    <form action="/GSapproved_grad"> 
      <button type="submit">Students Approved for Graduation</button>
    </form>

    <form action="/all_suspended"> 
      <button type="submit">Suspended Students</button>
    </form>

    <form action = "/assignadvisor"> 
      <button type="submit">Assign Advisors</button>
      </form>

      <br>
      <form action = "/GShome"> 
        <button type="submit">Graduate Secretary Home Page</button>
        </form>

      <form action = "/logout"> 
        <button type="submit">Log Out</button>
        </form>

  </body>
</html>