<html>
  
  <head>
    
    <title>Login Page</title>
    
  </head>

  <body>

    <h2> Login to the University System </h2> 
    
    <form action = "/" method = "POST">
      
      <p> username: </p>
      <input type = "text" name = "username" minlength = "1" required> <br>
      <p> password: </p>
      <input type = "text" name = "password" minlength = "1" required> <br> <br>
      <input type = "submit" name = "submit">
      
    </form>

    <a href ="/register"> Create Account</a>
    
  </body>
  
</html>