<html>
  
  <head>
    
    <title>Login Page</title>
    <link rel="stylesheet" href="static/style.css">

    <style>
    
      body{
        background-image: url('/static/seh.png');
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: cover;

      }

    </style>
    
  </head>

  <body>

    <img src="/static/jtu_logo.png" style="width:175px">

    <h2 class = "login"> Login to the James Taylor University System </h2>
    
    <form action = "/" method = "POST">
      
      <p class = "login"> username: </p>
      <input type = "text" name = "username" minlength = "1" required class = "loginbox"> <br>
      <p class = "login"> password: </p>
      <input type = "text" name = "password" minlength = "1" required class = "loginbox"> <br> <br>
      <input type = "submit" name = "submit" class = "loginbutt">
      
    </form>

    <a href ="/register" class = "login"> Create Account</a>
    
  </body>
  
</html>