<html>
    <head> <link href="/static/style.css" rel="stylesheet" type="text/css" /> </head>
    <title> PhD Advisees </title>
    <br>
    <body>
        {%include "navbar.html"%}
        <center>
        <h1> PhD Advisees </h1>
        {% if phd_advisees %}
        <table border="5" cellspacing="0" align="center">
            <tr>
              <b>
                <td align="center" height="50" width="100"> UID <br></td>
                <td align="center" height="50" width="100"> First Name <br></td>
                <td align="center" height="50" width="100"> Last Name <br></td>
                <td align="center" height="50" width="100"> View Transcript <br></td>
                <td align="center" height="50" width="100"> View Form 1 <br></td>
              </b>
            </tr>
            {% for student in phd_advisees: %}
            <tr>
              <td> {{ student[0]['uid'] }} <br></td>
              <td> {{ student[0]['first_name'] }} </td>
              <td> {{ student[0]['last_name']}} </td>
              <td> 
                <form action="/faculty/advisees/{{student[0]['uid']}}"> 
                    <button type="submit" class = "tableselectorbox">View Transcript</button>
                </form> 
              </td>
              <td>
                <form action="/faculty/advisees/form1/{{student[0]['uid']}}"> 
                    <button type="submit" class = "tableselectorbox">Review Form 1</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </table>
          {% endif %}


        {% if not phd_advisees %}
        <p> No PhD advisees to be displayed. </p>
        {% endif %}
    </body>
    </center>

    <br>
        <br>
        <hr color=#3F000F;>
        <br>
        <br>

    <form action = "/Fhome"> 
        <button type="submit" class = "routebutt">Employee Home Page</button>
    </form>
    <form action="/advisor_home"> 
        <button type="submit" class = "routebutt">Advisor Home Page</button>
    </form>
    <!-- <form action="/logout"> 
        <button type="submit">Log Out</button>
    </form> -->
</html>