<html>
    <head>
        <title>Application Form</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        {%include "navbar.html"%}
        <h1> Welcome, {{ session['first_name'] }} {{ session['last_name'] }}</h1>

        <p>Please fill out the form below, your work will not be saved when leaving this page. <br><br> All submissions are final. <br><br> </p>

        <form action="/Rhome" method="POST">

            <g1> Your reviewee's universityID: </g1><input type="text" name="studentID" minlength = "1" required class = "niceformbox"> <br>

            <g1> Rec letter number you are writing: </g1><select id="number" name="number" class = "selectors">

                <option value="r1">r1</option>
                <option value="r1">r2</option>
                <option value="r3">r3</option>

              </select><br>

            <br>
            <br>

            <g1> Your letter: </g1><input type="text" name="letter" minlength = "1" required class = "bigformbox">

            <br><input type="submit" name="submit"><br>

         </form>


    </body>
</html>