<html>
  <head>
     <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <title>Admin Logged In</title>
 
  </head>
  <body>
   {%include "navbar.html"%}
 <center>
    <h1 class = "sameen"> Welcome, {{session["first_name"]}} {{session["last_name"]}}! </h1>
 </center>

 <div class="buttons">

    <form action = "/updateinfo" method = "POST"> 
      <h3>University ID: {{ session['uid'] }}</h3>
      <h4>Last Name: 
        <input type="text" placeholder= "{{session['last_name']}}" name = "lname">
      </h4>

      <h4> First Name: 
       <input type="text" placeholder= "{{session['first_name']}}" name = "fname">
      </h4>

    <h4>Address: 
    <input type="text" placeholder="{{data['address']}}" name= "address">
    </h4>

    <button type="submit">Submit</button>
    </form>

    </div>


 <div class = "buttons">

    <form action = "/facultylist"> 
    <button type="submit">Faculty Advisors</button>
    </form>

    <form action = "/gradlist"> 
    <button type="submit">Graduate Students</button>
    </form>

    <form action = "/gradseclist"> 
    <button type="submit">Graduate Secretaries</button>
    </form>

    <form action = "/alumnilist"> 
    <button type="submit">Alumni</button>
    </form>
    

 </div>

 <div class = "buttons">

   <form action = "/add_advisor" method = "GET"> 
   <button type="submit">Add Advisors</button>
   </form>

   <form action = "/addthestudent" method = "GET"> 
   <button type="submit">Add Students</button>
   </form>

   <form action = "/addgradsec" method = "GET"> 
   <button type="submit">Add Grad Secretaries</button>
   </form>

   <form action = "/addalumni" method = "GET"> 
   <button type="submit">Add Alumni</button>
   </form>
   

</div>


<div class = "buttons">

   <form action = "/assignadvisor"> 
   <button type="submit">Assign Advisors</button>
   </form>

   <form action = "/logout"> 
   <button type="submit">Log Out</button>
   </form>

</div>


</body>
</html>