<!DOCTYPE html>
<html>

<head>
  <title> sysadmin portal </title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  {% include "navbar.html" %}

  

    <h2> Welcome Sysadmin </h2><br><br>

    <h3> Lookup Users and Edit Info: </h3>

    <table border="5" cellspacing="0" align="center">
      <tr>
        <b>
          <td align="center" height="50" width="100"> UID <br></td>
          <td align="center" height="50" width="100"> Username <br></td>
          <td align="center" height="50" width="100"> First Name <br></td>
          <td align="center" height="50" width="100"> Last Name <br></td>
          <td align="center" height="50" width="100"> SSN <br></td>
          <td align="center" height="50" width="100"> Address <br></td>
          <td align="center" height="50" width="100"> User Type <br></td>
          <td align="center" height="50" width="100"> Misc <br></td>
          <td align="center" height="50" width="100"> Submit Changes <br></td>
          <td align="center" height="50" width="100"> Delete User <br></td>
        </b>
      </tr>
      {% for user in searched_users: %}
      <tr>
        <form action="/SAhome" method="POST">
          <input type="hidden" name="uid" value="{{ user['uid'] }}">
          <input type="hidden" name="user_type" value="{{ user['user_type'] }}">
          <td align="center" height="50" width="100">
            {{user["uid"]}}
          </td>
          <td align="center" height="50" width="100">
            <input type="text" name="username" value="{{user['username']}}" class = "tableformbox">
          </td>
          <td align="center" height="50" width="100">
            <input type="text" name="first_name" value="{{user['first_name']}}" class = "tableformbox">
          </td>
          <td align="center" height="50" width="100">
            <input type="text" name="last_name" value="{{user['last_name']}}" class = "tableformbox"> 
          </td>
          <td align="center" height="50" width="100">
            <input type="text" name="ssn" value="{{user['ssn']}}" class = "tableformbox"><br>
          </td>
          <td align="center" height="50" width="100">
            <input type="text" name="address" value="{{user['address']}}" class = "tableformbox">
          </td>

          <td align="center" height="50" width="100">
            {{ user['user_type'] }}
          </td>
          <td> <!-- misc field -->
            {% if user["user_type"] == "student": %}
            <a href="/Transcript{{user['uid']}}"> transcript</a><br>
            <select name="degree_type" id="degree_type" class = "tableselectors">
              {% if student_types[user['uid']] == "MS" %}
              <option value="MS" selected> MS </option>
              <option value="PHD"> PHD </option>
              {% else %}
              <option value="MS"> MS </option>
              <option value="PHD" selected> PHD </option>
              {% endif %}
            </select>
            {% elif user["user_type"] == "employee": %}
            {% if employee_privs[user['uid']]['is_professor'] %}
            <input type="checkbox" name="employee_privileges" value="professor" checked class = "checkbox"> Professor <br>
            {% else %}
            <input type="checkbox" name="employee_privileges" value="professor" class = "checkbox"> Professor <br>
            {% endif %}
            {% if employee_privs[user['uid']]['is_reviewer'] %}
            <input type="checkbox" name="employee_privileges" value="reviewer" checked class = "checkbox"> Reviewer <br>
            {% else %}
            <input type="checkbox" name="employee_privileges" value="reviewer" class = "checkbox"> Reviewer <br>
            {% endif %}
            {% if employee_privs[user['uid']]['is_review_chair'] %}
            <input type="checkbox" name="employee_privileges" value="chair" checked class = "checkbox"> Chair <br>
            {% else %}
            <input type="checkbox" name="employee_privileges" value="chair" class = "checkbox"> Chair <br>
            {% endif %}
            {% if employee_privs[user['uid']]['is_advisor'] %}
            <input type="checkbox" name="employee_privileges" value="advisor" checked class = "checkbox"> Advisor <br>
            {% else %}
            <input type="checkbox" name="employee_privileges" value="advisor" class = "checkbox"> Advisor <br>
            {% endif %}
            {% endif %}
          </td>
          <td>
            <input type="submit" name="Form_Type" value="Submit" class = "tableselectorbox">
          </td>
          <td>
            {% if user['user_type'] != "sysadmin" %}
            <input type="submit" name="Form_Type" value="Delete" class = "tableselectorbox">
            {% endif %}
          </td>
      </tr>
      </form>
      {% endfor %}
    </table>

    <br><br><br><br>
    <h3 class = "centeredtext"> Add a New User:</h3>
    <error>{{session["error"]}}</error>
    <form action="/SAhome" method="POST" class = "centeredtext">
      Username: <input type="text" name="username" class = "formbox"> <br>
      First Name: <input type="text" name="first_name" class = "formbox"> <br>
      Last Name: <input type="text" name="last_name" class = "formbox"> <br>
      SSN: <input type="text" name="ssn" class = "formbox"> <br>
      Address: <input type="text" name="address" class = "formbox"> <br>
      User Type:
      <label for=user_type class = "centeredtext"></label>
      <select name=user_type id="user_type" class = "selectors">
        <option value="sysadmin" selected> sysadmin </option>
        <option value="gradsec"> grad secretary</option>
        <option value="employee"> employee </option>
        <option value="student"> student </option>
        <option value="applicant"> applicant </option>
        <option value="recommender"> recommender </option>
      </select>
      <br>
      <br>
      <br><input type="submit" name="Form_Type" value="Add User" class = "loginbutt">
    </form>

    <br>
    <a href="/Class_Add"> Manage Course Catalogue </a><br>

    <a href="/Section_Add"> Manage Available Class Sections </a>

  
</body>

</html>