<html>
    <head>
        <title>Status</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        {%include "navbar.html"%}
        <h1> Welcome, {{ session['first_name'] }} {{ session['last_name'] }}</h1>
        <h2> universityID: {{session['uid'] }}</h2>

        <br>
        <br>
        <br>

        {% if status['appStatus'] == "Application Incomplete" %}

        <table>
          <tr>
            <th>Application Status</th>
          <tr>
            <td>{{status['appStatus']}}</td>
          </tr>
        </table>

        {%else%}

        <table>
            <tr>
              <th>Application Status</th>
              <th>Rec Letter 1 Status</th> 
              <th>Rec letter 2 Status</th>
              <th>Rec Letter 3 Status</th>
              <th>Transcript Status</th> 
              <th>Final Decision</th>
            </tr>
            <tr>
              <td>{{status['appStatus']}}</td>
              <td>{{r1status['r1status']}}</td> 
              <td>{{r2status['r2status']}}</td>
              <td>{{r3status['r3status']}}</td>
              <td>{{transcriptstatus['transcriptStatus']}}</td> 
              <td>{{decision['decision']}}</td>
            </tr>
          </table>

          {%endif%}

    </body>
</html>