<html>
  <head>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <title>Student Data</title>
  </head>
  <body>
    {%include "navbar.html"%}
    <h1 style="text-align:center;"> {{student_info[0][0]['first_name']}} {{student_info[0][0]['last_name']}} </h1>
    <center><p> Address: {{student_info[0][0]['address']}}</p>

    <hr>

    <h3> Academic Information </h3>

    {% if student_info[2][0]['degree_type'] == 'MS' %}
      <table border="5" cellspacing="0" align="center">
        <tr>
          <b>
            <td align="center" height="50" width="100"> UID <br></td>
            <td align="center" height="50" width="100"> Degree <br></td>
            <td align="center" height="50" width="100"> Advisor <br></td>
            <td align="center" height="50" width="100"> GPA <br></td>
            <td align="center" height="50" width="100"> Total Credit Hours <br></td>
          </b>
        </tr>
        <tr>
          <td> {{student_info[0][0]['uid']}} <br></td>
          <td> Master's </td>
          <td> {{student_info[6][0]['first_name']}} {{student_info[6][0]['last_name']}}  </td>
          <td> {{student_info[4]['gpa']}} </td>
          <td> {{student_info[5]['total_credit_hours']}}  </td>
        </tr>
      </table>
    {% endif %}

    {% if student_info[2][0]['degree_type'] == 'PHD' %}
    <table border="5" cellspacing="0" align="center">
      <tr>
        <b>
          <td align="center" height="50" width="100"> UID <br></td>
          <td align="center" height="50" width="100"> Degree <br></td>
          <td align="center" height="50" width="100"> Advisor <br></td>
          <td align="center" height="50" width="100"> GPA <br></td>
          <td align="center" height="50" width="100"> Total Credit Hours <br></td>
          <td align="center" height="50" width="100"> Thesis Status <br></td>
        </b>
      </tr>
      <tr>
        <td> {{student_info[0][0]['uid']}} <br></td>
        <td> PhD </td>
        <td> {{student_info[6][0]['first_name']}} {{student_info[6][0]['last_name']}}  </td>
        <td> {{student_info[4]['gpa']}} </td>
        <td> {{student_info[5]['total_credit_hours']}}  </td>
        {% if student_info[-1][0]['thesis_approved'] == False: %}
        <td> Not Approved </td>
        {% endif %}
        {% if student_info[-1][0]['thesis_approved'] == True: %}
        <td> Approved </td>
        {% endif %}
      </tr>
    </table>
    {% endif %}

    <br>
    <hr>

    {% if student_info[1]['eligible'] == 'False': %}
      <h3>Not currently eligible for graduation for the following reasons:</h3>
        {% for x in student_info[1]['reason']: %}
          <p>{{x}}</p>
            {% endfor %}
    {% endif %}
    {% if student_info[1]['eligible'] == 'True': %}
      <h3>Currently eligible for graduation</h3>
        <form action="/graduate/{{student_info[0][0]['uid']}}"> 
            <button type="submit" class = "routebutt">Approve for Graduation</button>
        </form>
            
    {% endif %}
  </center>

    <br>
    <br>
    <hr color=#3F000F;>

    <br>
    <br>

    <form action="/GShome"> 
      <button type="submit" class = "routebutt">Graduate Secretary Home Page</button>
    </form>

    <!-- <form action="/logout"> 
      <button type="submit">Log Out</button>
  </form> -->

  </body>
</html>