<html>
  <head>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <title>Student Data</title>
  </head>
  <body>
    {%include "navbar.html"%}
    <h1 style="text-align:center;"> Student Data </h1>
    <h2> {{student_info[0][0]['first_name']}} {{student_info[0][0]['last_name']}} </h2>
    <p> Address: {{student_info[0][0]['address']}}</p>

    <h3> Academic Information </h3>
    <li> ID: {{student_info[0][0]['uid']}} </li>
    <li> {% if student_info[2]['degree_type'] == 'ms' %}
            Master's student
          {% endif %}
          {% if student_info[2]['degree_type'] == 'phd' %}
            PhD student
            {% if student_info[-1][0]['thesis_approved'] == 'False': %}
            <li>Thesis status: Not Approved
              {% endif %}
              {% if student_info[-1][0]['thesis_approved'] == 'True': %}
              Thesis status: Approved
            </li>
            {% endif %}
          {% endif %}
    </li>
    <li> Advisor: {{student_info[6][0]['first_name']}} {{student_info[6][0]['last_name']}} </li>
    <li> GPA: {{student_info[4]['gpa']}} </li>
    <li> Total credit hours (not including classes IP): {{student_info[5]['total_credit_hours']}} </li>
    <li> {% if student_info[1]['eligible'] == 'False': %}
            Not eligible for graduation
            <ul> <li>Reason(s): </li>
                {% for x in student_info[1]['reason']: %}
                  <ul> <li> {{x}} </li> </ul>
                {% endfor %}
            </ul>
          {% endif %}
          {% if student_info[1]['eligible'] == 'True': %}
            Eligible for graduation
            <ul> <form action="/graduate/{{student_info[0][0]['uid']}}"> 
                  <button type="submit">Approve for Graduation</button>
                </form>
            </ul>
          {% endif %}
     </li>

    <hr color=#3F000F;>

    <form action="/GShome"> 
      <button type="submit">Graduate Secretary Home Page</button>
    </form>

    <form action="/logout"> 
      <button type="submit">Log Out</button>
  </form>

  </body>
</html>