<html>
  <head>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <title> Suspension </title>
  </head>
  <body>
    {%include "navbar.html"%}
    <h2 style="text-align:center;"> All Students Under Academic Suspension </h2>

    {% if suspended_students_names %}
    <h3> {% for student in suspended_students_names %}
        <li> {{student[0]['first_name']}} {{student[0]['last_name']}}</li>
    {% endfor %}
    </h3>
    {% endif %}

    {% if not suspended_students_names %}
    <h3> There are currently no suspended students.</h3>
    {% endif %}

    <hr>
    <br>
    
    <form action="/GShome"> 
      <button type="submit" class="routebutt">Graduate Secretary Home Page</button>
    </form>
    
  </body>
</html>