<html>
  <head>
     <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <title>User Info</title>
 
  </head>

  <body>
<center>
    <h1 class = "sameen"> Information </h1>
    </center>
      {% if not data %}
        <p>No information found</p>
        {% else %}
    
            <div class="buttons">

                <form action = "/updateuserinfo/{{data['uid']}}" method = "POST"> 
                  <h3>University ID: {{ data['uid'] }}</h3>
                  <h4>Last Name: 
                    <input type="text" placeholder= "{{data['last_name']}}" name = "lname">
                  </h4>
            
                  <h4> First Name: 
                   <input type="text" placeholder= "{{data['first_name']}}" name = "fname">
                  </h4>
            
                <h4>Address: 
                <input type="text" placeholder="{{data['address']}}" name= "address">
                </h4>
            
                <button type="submit">Submit</button>
                </form>
            
                </div>

    {% endif %}

    {% if alumnicourses %}

    <form action = "/coursehist/{{data['uid']}}"  method = "POST"> 
    <button type="submit">View Transcript</button>
    </form>

    {% elif studentcourses %}
    
    <div class="buttons">

    <form action = "/coursehist/{{data['uid']}}"  method = "POST"> 
    <button type="submit">View Transcript</button>
    </form>

    <form action = "/graduatethestudent/{{data['uid']}}/{{data['user_type']}}"  method = "POST"> 
     <button type="submit">Graduate {{data['first_name']}}</button>
    </form>


    {% for a in notappr: %}
      {% if a['uid'] == data['uid'] %}
        <form action = "/approvethesis/{{data['uid']}}"> 
        <button type="submit">Approve Thesis</button>
        </form>
      {% endif %}
    {% endfor %}


    <form action = "/viewform1/{{data['uid']}}"  method = "POST"> 
    <button type="submit">View Form 1</button>
    </form>

    {% if not suspended %}
    {% else %}
    <p>Currectly Suspended</p>
    {% endif %}
    </div>

    <div class="buttons">
    <form action = "/remove/{{data['uid']}}/{{data['user_type']}}" method = "POST"> 
    <button type="submit">Remove</button>
    </form>

    <form action = "/SAhome"> 
     <button type="submit">System Admin Home Page</button>
    </form>
    </div>
</body>

</html>