<html>
  <head>
    <title>Form 1</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
  </head>
<body>
    <center>
        <h1 class = "sameen"> Form 1 Information </h1>
     </center>

<ul>
    {% if not data %}
      <p>Student did not submit form 1</p>
      {% else %}
      Classes Selected in Form 1: 
      {% for p in data: %}
        <p> 
        <li>Course ID: {{p["cid"]}} 
          <br>Course:
          {% for i in classes: %}
              {% if p["cid"] == i["cid"]: %}
                  {{i["title"]}} {{i["class_number"]}} 
                  <br>
                  Credits: {{i["credit_hours"]}} 
              {% endif %}
          {% endfor %}
          <br>
    
        </li>
       </p>
  {% endfor %}
  {% endif %}
  </ul>

 <form action = "/SAhomr"> 
    <button type="submit">System Admin Home Page</button>
    </form>
        
</body>
 </html>