<html>
  <head>
    <title>Form 1</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
  </head>
<body>
  {%include "navbar.html"%}
    <center>
        <h1 class = "sameen"> Form 1 Information </h1>
     </center>

<ul>
    {% if not data %}
      <h2>Student did not submit Form 1.</h2>
      {% endif %}
      {% if data %}
      <center>
        <table border="5" cellspacing="0" align="center">
            <tr>
              <b>
                <td align="center" height="50" width="100"> Class ID <br></td>
                <td align="center" height="50" width="100"> Class Title <br></td>
                <td align="center" height="50" width="100"> Class Number <br></td>
                <td align="center" height="50" width="100"> Credit Hours <br></td>
              </b>
            </tr>
            {% for p in data: %}
            <tr>
              <td> {{ p["cid"] }} </td>
              {% for i in classes: %}
                {% if p["cid"] == i["cid"]: %}
                  <td> {{ i["title"] }} <br></td>
                  <td> {{ i["class_number"] }} </td>
                  <td> {{ i["credit_hours"] }} </td>
                {% endif %}
              {% endfor %}
            </tr>
            {% endfor %}
          </table>
        </center>
      {% endif %}
  </ul>
        
</body>
 </html>