<html>
    <head>
        <title>View Application</title>
    </head>

    <body>
        <p>UniversityID: {{form.studentID}}</p>
        <p>Degree Seeking: {{form.degreeSeeking}}</p>
        <p>MScheck: {{form.MScheck}}</p>
        <p>MSmajor: {{form.MSmajor}}</p>
        <p>MSyear: {{form.MSyear}}</p>
        <p>MSuniversity: {{form.MSuniversity}}</p>
        <p>MSgpa: {{form.MSgpa}}</p>
        <p>BAcheck: {{form.BAcheck}}</p>
        <p>BAmajor: {{form.BAmajor}}</p>
        <p>BAyear: {{form.BAyear}}</p>
        <p>BAuniversity: {{form.BAuniversity}}</p>
        <p>BAgpa: {{form.BAgpa}}</p>
        <p>GREverbal: {{form.GREverbal}}</p>
        <p>GREquantitative: {{form.GREquantitative}}</p>
        <p>GREyear: {{form.GREyear}}</p>
        <p>GREadvancedScore: {{form.GREadvancedScore}}</p>
        <p>GREadvancedSubject: {{form.GREadvancedSubject}}</p>
        <p>TOEFLscore: {{form.TOEFLscore}}</p>
        <p>TOEFLdata: {{form.TOEFLdata}}</p>
        <p>priorWork: {{form.priorWork}}</p>
        <p>startDate: {{form.startDate}}</p>
        <p>transcriptStatus: {{form.transcriptStatus}}</p>
        <p>r1status: {{form.r1status}}</p>
        <p>r1writer: {{form.r1writer}}</p>
        <p>r1email: {{form.r1email}}</p>
        <p>r1title: {{form.r1title}}</p>
        <p>r1affiliation: {{form.r1affiliation}}</p>
        <p>r1letter: {{form.r1letter}}</p>
        <p>r2status: {{form.r2status}}</p>
        <p>r2writer: {{form.r2writer}}</p>
        <p>r2email: {{form.r2email}}</p>
        <p>r2title: {{form.r2title}}</p>
        <p>r2affiliation: {{form.r2affiliation}}</p>
        <p>r2letter: {{form.r2letter}}</p>
        <p>r3status: {{form.r3status}}</p>
        <p>r3writer: {{form.r3writer}}</p>
        <p>r3email: {{form.r3email}}</p>
        <p>r3title: {{form.r3title}}</p>
        <p>r3affiliation: {{form.r3affiliation}}</p>
        <p>r3letter: {{form.r3letter}}</p>

    </body>
</html>